ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: yellow;
  }
  h1{
      text-align: center;
      color: yellow;
  }
  i{
      text-align: center;
      color: yellow;
  }
  ul{
      color: yellow;
  }
  label{
      color: yellow;
  }
  p{
      color: yellow;

  }
  legend{
      color: yellowgreen;
  }